{% extends 'base.html' %}
{% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="post">
        <div>
            <h2>To do</h2>
            <p>{{ post.title }}</p>
        </div>
        <div>
            <h2>detail</h2>
            <p>{{ post.content }}</p>
        </div>
        <div>
            <h2>deadline</h2>
            <p>{{ post.deadline }}</p>
        </div>
    </div>
    {% endfor %}

    {% for comment in comments %}
    <li>{{ comment.content }}
    {% if user.is_authenticated and comment.author.pk == user.pk %}
    <a class="box" href="{% url 'delete_comment' post.pk comment.pk %}">삭제</a></li>
    {% endif %}
    {% endfor %}

    

{% endblock %}